<!DOCTYPE html>
<html lang="en" ng-app="spa-demo">
	<header>
		<meta charset="UTF-8">
		<%= stylesheet_link_tag    "spa-demo", :meta => "all" %>
		<%= javascript_include_tag "spa-demo" %>
	</header>
	<body>
		<div class="container">
			<h1>Hello</h1>
			<span>This is app/views/ui/index.html.erb</span>
			<div ui-view></div>
		</div>
	</body>
</html>
