<!DOCTYPE html>
<html lang="en" ng-app="spa">
	<header>
		<meta charset="UTF-8">
		<%= stylesheet_link_tag    "spa", :meta => "all" %>
		<%= javascript_include_tag "spa" %>
	</header>
	<body>
		<div class="container">
			<div ui-view></div>
		</div>
	</body>
</html>
